
/**-----------**/
/**mobile***/

/*this is responsive for the menu have icon  **/
  @media screen and (max-width: 768px) {
    .topnav ul li:not(:first-child) a {
      display: none; }
    .topnav ul li {
      display: block;
    }
    .topnav ul li a.icon {
      float: right;
      display: block;
    }

    .topnav.responsive {position: relative;}
    .topnav.responsive .icon {
      position: absolute;
      right: 0;
      top: 0;
    }
    .topnav.responsive ul li a {
      float: none;
      display: block;
      text-align: left;
    }
  
    .topnav.responsive ol {
      position: relative;
      margin: 0;
      width: 400px;
    }

    #myblog {
      height: 200px;
   } 
     #blog {
    font-size: 15px;
   }
    #tieude {
    margin-top: 40px;
    font-size: 50px; 
  }
    section {
 
  padding: 0 20px;
  }
    h2 {
  margin: 0 0 0 0;
  }
    section hr {
  width: 100%;
  }
    }


/**Responsive css foe contact and order***/

/* Contact**/
@media screen and (max-width: 768px) {
  label {
    display: block;
    margin-bottom: 20px;
    margin-left: 20px;
  }
  .main-contact {
    padding: 0 0 0 20px;
    height: 800px;
    width: 80%;
  }
  .main-contact hr {
    margin-bottom: 40px;
  }
  .main-contact h1 {
    margin: 0 0 0 0;
  }
  #name, #mail {
    font-size: 70%;

  }
  .inputNMS, #error4 {
    width: 75%;
    font-size: 60%;
  }
  #name, #mail, #subject, #message {
    width: 70%;
    margin-left: 20px;
  }
  label.checkess {
    width: 10%;
    font-size: 70%;
    margin-left: 2%;
    display: inline;
  }
  #includes {
    margin: 0 0 0 0;
    width: 20%;
    font-size: 70%;
    display:inline;
  }
  .buttongo {
    margin: auto;
    font-size: 70%;
    display: block;
  }
  h3 {
    width: 100%;
    font-size: 2px;
  }
}
/**Order**/
@media screen and (max-width: 768px) {
   #selectcake, #yourname, #messages, #datess, #deliverto {
     width: 80%;
   }
  .checkess {
    display: inline-block;
    width: 80px;
  }
  .main-contact {
    padding-bottom: 60px;
  }
  .error2v3v6, .error1v5 {
    width: 80%;
    font-size: 60%;
  }
  #main-order {
    height: 950px;
  }
  #labelorder {
    display: block;
    font-size: 80%;
  }
  label.yesno {
    margin: 0;
  }
  input.yesorno {
    margin-left: 5%;
  }
  #buttonorder {
    margin-top: 30px;
  }

}


/**Index.html**/
@media screen and (max-width: 768px) {
  footer p {
    text-align: center;
  }
  main p {
    font-size: 15px;
  }
  main h2 {
    font-size: 25px;
  }
  section p:not(:first-child) {
    text-align: justify;
  }
}
/**This is Bootstrap.html**/
@media screen and (max-width: 768px) {
  nav.navbar-me  {
   font-size: 20px;
}
  .img-bootstrap {
    margin-top: 220px;
  }
}

/*About.html*/
@media screen and (max-width: 768px) {
   #icon img {
    width: 10%;
   }
   #housecake-about {
    padding-top: 5%;
    padding-bottom: 5%;
   }
   .text-about {
    font-size: 12px;
   }
}

/*------------*/
/**Tablet***/

/**Contact**/
@media screen and (min-device-width: 768px) and (max-device-width: 992px) {
  label {
    display: block;
    margin-bottom: 20px;
    margin-left: 20px;
  }
  .main-contact {
    padding: 0 0 0 20px;
    height: 800px;
    width: 80%;
  }
  .main-contact hr {
    margin-bottom: 40px;
  }
  .main-contact h1 {
    margin: 0 0 0 0;
  }
  #name, #mail {
    font-size: 70%;
  }
  .inputNMS, #error4 {
    width: 94%;
    font-size: 65%;
  }
  #name, #mail, #subject, #message {
    width: 90%;
    margin-left: 20px;
  }
  #buttongo {
    margin-left: 70%;
  }

} 
  
/**Order**/
@media screen and (min-device-width: 768px) and (max-device-width: 992px) {
   #yourname, #messages, #datess, #deliverto {
    width: 95%;
  }
  #selectcake {
   width: 96%;
  }
 .checkess {
   display: inline-block;
   width: 80px;
 }
 .main-contact {
   padding-bottom: 60px;
 }
 .error2v3v6, .error1v5 {
   width: 95%;
 }
 #main-order {
   height: 950px;
 }
}

/**Responsive css for about page***/
@media screen and (min-width: 768px) and (max-device-width: 992px) {

   #main-about {
    font-size: 17px;
   }
   #footer-about p {
     text-align: center;
   }
   #housecake-about {
    float: none;
    padding: 0;
   }
   #icon img {
    width: 50px;
   }
}
@media screen and (min-device-width: 768px) and (max-device-width: 992px) { 
   #footer-about p {
    text-align: center;
   }
   #housecake-about {
    float: none;
    padding: 0;
   }
   #icon img {
    width: 70px;
   }
}

/**index.html**/
@media screen and (min-device-width: 768px) and (max-device-width: 992px) {
  #myblog {
    height: 300px;
  }
  #myblog h1 {
    font-size: 80px;
    margin-top: 60px;
  }

  footer p {
    text-align: center;
  }
  main p {
    font-size: 18px;
  }
  main h2 {
    font-size: 35px;
  }
  section {
    padding-bottom: 20px;
  }
}

/*Detail.html**/
@media screen and (min-device-width: 768px) and (max-device-width:992px) {
  section p:not(:first-child) {
    text-align: justify;
    font-size: 18px;
  }

}
/**Boostrap.html**/
@media screen and (min-device-width: 768px) and (max-device-width:992px) {
  nav.navbar-me  {
    font-size: 20px;
 }
   .img-bootstrap {
     margin-top: 150px;
   }
}

/**---------**/
/**Desktop**/

/**contact**/
@media screen and (min-device-width: 992px) {
  .error1v5 {
    width: 58%;
  }
  .error2v3v6 {
    width: 68%;
  }
  #selectcake,#datess {
    width: 40%;
  }
  #yourname, #messages, #deliverto {
    width: 50%;
  }
  label.checkess {
    width: 13%;
  }
  .inputNMS {
    width: 66%;
  }
  #error4 {
    width: 40%;
  }
}
/**Bootstrap.html**/
@media screen and (min-device-width: 992px) {
  nav.navbar-me  {
    font-size: 20px;
 }
   .img-bootstrap {
     margin-top: 70px;
   }
}


